.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
  overflow: scroll;
}

header {
  text-align: center;
  grid-column: 1 / span 2;
}
nav,
article {
  height: 100%;
  padding: 5px;
}

nav {
  background-color: #dee9ff;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}
